<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
          prefix: "tw-"
      }
  </script>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <section class="w-75  fs-2 position-relative tw-pl-1.5 tw-py-8 tw-bg-slate-50 tw-ml-6 sm:tw-mt-1.5">
        <form action="/signup" method="POST" >
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">User Name</label>
              <input autofocus="on" type="text" class="form-control fs-5" name="userName" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input autofocus="on" type="email" class="form-control fs-5" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" name="confirmPassword" class="form-control" id="exampleInputPassword1">
              </div>
            <button type="submit" class="tw-p-1 tw-rounded-md tw-bg-sky-500 hover:tw-bg-sky-700 ...">Submit</button>
          </form>
    </section>
</body>
</html>